<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="container">
      <%- include('../partials/pageTitle.ejs', {title: blog.title}) %>
      <div class="content">
        <p><%= blog.body %></p>
      </div>
      <hr  class="mt-2 mb-2" />
      <button id="delete" class="btn-error text-white" data-doc="<%= blog._id %>">Delete</button>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>

  <script>
    const trashcan = document.querySelector("button#delete");
    trashcan.addEventListener("click", (e) => {
      const endpoint = `/blogs/${trashcan.dataset.doc}`;
      fetch(endpoint, {
        method: "DELETE",
      })
        .then((response) => response.json())
        .then((data) => window.location.href = data.redirect)
        .catch((err) => {
          console.log(err);
        });
    });
  </script>
</html>
